body {
    background-image: url(home.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80%;
    margin-left: 800px;
    height: 200px;
    width: 300px;
    background-color: white;
}
img{
    height: 60px;
    width: 200px;
    position: static;
}


section {
    position: static;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}
.main-box #fB {
    font-size: 90%;
    height: 40px;
    width: 250px;
    background: rgb(7, 48, 73);
    border-radius: 7px;
}
.main-box #signUpBut {
    font-size: 90%;
    height: 40px;
    width: 250px;
    background: rgb(7, 48, 73);
    border-radius: 7px;
}


